/* 
#id {}
#id, #id {}
.class {}
.class tag {}
tag {} 
*/

body, html {
	margin: 0px;
	height: 100%;
	overflow: hidden;
}

section {
	padding: 50px;
	height: calc(50% - 100px);
}

img {
	width: 100px;
	padding: 10px;
}

.day {
	background-color: yellow;
}

.night {
	background-color: black;
	color: white;
}

.header{
	font-size: larger;
	font-weight: bold;
}

.content{
	font-style: italic;
}

#starGameTitle{
	padding: 15px;
	font-size: x-large;
	color: yellow;
}

#butterflyNature{
    position: relative;
    animation-name: butterflyMovement;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes butterflyMovement {
    0%   {left:0px; top:0px;}
    25%  {left:calc(100% - 110px); top:0px;}
    50%  {left:calc(100% - 110px); top:calc(100% - 110px);}
    75%  {left:0px;top:calc(100% - 110px)}
    100% {left:0px; top:0px;}
}